.moviesWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movieWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 15px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    padding: 10px 0px;
    transition: all 0.3s linear;
    min-width: 330px;
    min-height: 500px;
    justify-content: space-between;
}

.movieWrapper:hover {
    box-shadow: none;
    transition: all 0.3s linear;
}

.container {
    display: flex;
    margin-top: 20px;
}

.featureMovie {
    max-width: 268px;
}

.title {
    font-weight: bold;
    color: cadetblue;
}

.value {
    color: midnightblue;
}

.poster {
    max-width: 75%;
}

.descriptionPoster {
    margin-right: 15px;
}

.pagination {
    margin-top: 30px;
}
  
@media screen and (min-width: 652px) and (max-width: 1200px) {
    .poster {
        max-width: 75%;
    }
}
  
@media screen and (max-width: 651px) {
    .poster {
        max-width: 100%;
        
    }
}

@media screen and (min-width: 1200px) {
    .movieWrapper {
        width: 90%;
    }
}
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .descriptionPoster {
        margin-right: 0;
        text-align: center;
    }
}
